/vendor/
.env.local
.env.local.php
.env.*.local
/var/cache/*
/var/logs/*
/var/log/*
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/log/.gitkeep
/var/reports/tracking_history.xml
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
composer.phar
