{{- if .Values.createIngress }}
{{- $appHost := "" -}}
{{- $cargoHost := "" -}}
{{- $opensearchHost := "" -}}

{{- if .Values.createAppHost }}
{{- $appHost = printf "%s-%s.%s" .Values.appHostName .Release.Namespace .Values.clusterDomain -}}
{{- else }}
{{- $appHost = printf "%s.localhost" .Values.appHostName -}}
{{- end -}}

{{- if .Values.createCargoCatsHost }}
{{- $cargoHost = printf "%s-%s.%s" .Values.cargoHostName .Release.Namespace .Values.clusterDomain -}}
{{- else }}
{{- $cargoHost = printf "%s.localhost" .Values.cargoHostName -}}
{{- end -}}

{{- if .Values.createOpensearchHost }}
{{- $opensearchHost = printf "%s-%s.%s" .Values.opensearchHostName .Release.Namespace .Values.clusterDomain -}}
{{- else }}
{{- $opensearchHost = printf "%s.localhost" .Values.opensearchHostName -}}
{{- end -}}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  namespace: {{ .Release.Namespace }}
spec:
  ingressClassName: nginx
  rules:
  - host: {{ $appHost }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.frontgateservice.name }}
            port:
              number: 8081
  - host: {{ $cargoHost }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.frontgateservice.name }}
            port:
              number: 8081
  - host: {{ $opensearchHost }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: opensearch-dashboard
            port:
              number: 5601
#  - host: webhookservice.localhost
#    http:
#      paths:
#      - path: /
#        pathType: Prefix
#        backend:
#          service:
#            name: 'webhookservice'
#            port:
#              number: 5000
#  - host: dataservice.localhost
#    http:
#      paths:
#      - path: /
#        pathType: Prefix
#        backend:
#          service:
#            name: {{ .Values.cargocatsDataservice.name }}
#            port:
#              number: 8080
#  - host: imageservice.localhost
#    http:
#      paths:
#      - path: /
#        pathType: Prefix
#        backend:
#          service:
#            name: {{ .Values.imageservice.name }}
#            port:
#              number: 5001
#  - host: labelservice.localhost
#    http:
#      paths:
#      - path: /
#        pathType: Prefix
#        backend:
#          service:
#            name: {{ .Values.labelservice.name }}
#            port:
#              number: 3000
#  - host: docservice.localhost
#    http:
#      paths:
#      - path: /
#        pathType: Prefix
#        backend:
#          service:
#            name: {{ .Values.docservice.name }}
#            port:
#              number: 5000

---
{{- end }}